<section class="banner">
  <div class="container py-lg-6">
    <div class="banner-content min-vh-100 d-flex justify-content-center justify-content-lg-start">
      <div class="banner-title text-white">
        <h5 class="text-lg-start text-center mb-2 ">獻給新世代的生活風格誌</h5>
        <h1 class="mb-3 mb-lg-4">一起探索生活的無限可能</h5>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="subscribe.html" class="btn btn-primary text-white fs-5">馬上訂閱<i
                class="bi bi-arrow-right ms-2"></i></a>
          </div>
      </div>
    </div>
  </div>
</section>