<nav class="navbar navbar-expand-lg bg-transition">
  <div class="container-fluid container-md py-lg-4">
    <a class="navbar-brand fs-2" href="index.html">Vivre</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <div class="input-group">
          <input type="text" class="form-control border-end-0" placeholder="search" aria-label="search"
            aria-describedby="basic-addon1">
          <span class="input-group-text border-start-0 bg-transition" id="basic-addon1"><a href="#"><i
                class="bi bi-search text-primary"></i></a></span>
        </div>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active me-3" aria-current="page" href="blog.html">所有文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="subscribe.html">訂閱專案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="about.html">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary text-white" href="login.html">登入 / 註冊</a>
        </li>
      </ul>

    </div>
  </div>
  </div>
</nav>