<div class="swiper blogSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card border-0 h-100">
                <img class="img-fluid w-100 mb-3" src="../assets/images/read-1-sm.png" alt="">
                <div
                    class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bolder">週末說走就走露營記</h5>
                    <p class="card-text text-secondary mb-4 text-truncate text-wrap">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...
                    </p>
                    <a href="#" class="fw-bold mb-4 text-end">Read More</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card border-0 h-100">
                <img class="img-fluid w-100 mb-3" src="../assets/images/read-2-sm.png" alt="">
                <div
                    class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bolder">城市野營日記</h5>
                    <p class="card-text text-secondary mb-4 text-truncate text-wrap">
                        終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不...
                    </p>
                    <a href="#" class="fw-bold mb-4 text-end">Read More</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card border-0 h-100">
                <img class="img-fluid w-100 mb-3" src="../assets/images/read-3-sm.png" alt="">
                <div
                    class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bolder">和寵物去露營 - 大自然之旅的雙倍體驗</h5>
                    <p class="card-text text-secondary mb-4 text-truncate text-wrap">
                        說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當...
                    </p>
                    <a href="#" class="fw-bold mb-4 text-end">Read More</a>
                </div>
            </div>

        </div>
    </div>
</div>