<div class="swiper everyoneWatchSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card bg-white p-lg-5 p-3">
                <div class="tab-pane" id="runningMap" role="tabpanel" aria-labelledby="runningMap-list">
                    <div>
                        <a href="#" class="fw-bolder mb-4 fs-5">酒精路跑地圖</a>
                        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
                        <p class="mb-3 fw-bold">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</p>
                        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
                    </div>
                </div>
                <div class="mt-3">
                    <img class="w-100 object-fit-cover" src="../assets/images/hots-1-sm.png" alt="">
                </div>
                <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                    <div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#夜貓行程</div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#barhopping</div>
                        <div class="badge bg-primary-300 text-primary-400">#全台酒吧</div>
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card bg-white p-lg-5 p-3">
                <div class="tab-pane" id="ramenMap" role="tabpanel" aria-labelledby="ramenMap-list">
                    <div>
                        <a href="#" class="fw-bolder mb-4 fs-5">台北拉麵圖鑑</a>
                        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
                        <p class="mb-3 fw-bold">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</p>
                        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
                    </div>
                </div>
                <div class="mt-3">
                    <img class="w-100 object-fit-cover" src="../assets/images/hots-3-sm.png" alt="">
                </div>
                <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                    <div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#雞白湯</div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#拉麵</div>
                        <div class="badge bg-primary-300 text-primary-400">#台北美食</div>
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card bg-white p-lg-5 p-3">
                <div class="tab-pane" id="islandTravel" role="tabpanel" aria-labelledby="islandTravel-list">
                    <div>
                        <a href="#" class="fw-bolder mb-4 fs-5">海島自由行</a>
                        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
                        <p class="mb-3 fw-bold">｜私島慢活島嶼生活 - 品味熱帶天堂</p>
                        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
                    </div>
                </div>
                <div class="mt-3">
                    <img class="w-100 object-fit-cover" src="../assets/images/hots-4-sm.png" alt="">
                </div>
                <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                    <div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#熱帶國家</div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#海邊</div>
                        <div class="badge bg-primary-300 text-primary-400">#無敵海景</div>
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card bg-white p-lg-5 p-3">
                <div class="tab-pane" id="goAbroad" role="tabpanel" aria-labelledby="goAbroad-list">
                    <div>
                        <a href="#" class="fw-bolder mb-4 fs-5">短天數出國推薦</a>
                        <p class="mb-3 fw-bold">｜72小時東京遊走 - 當個時尚東京通</p>
                        <p class="mb-3 fw-bold">｜48小時曼谷遊玩全攻略 </p>
                        <p class="mb-3 fw-bold">｜三天兩夜賞櫻微醺東京</p>
                    </div>
                </div>
                <div class="mt-3">
                    <img class="w-100 object-fit-cover" src="../assets/images/hots-5-sm.png" alt="">
                </div>
                <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                    <div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#說走就走</div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#出國玩</div>
                        <div class="badge bg-primary-300 text-primary-400">#東亞</div>
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card bg-white p-lg-5 p-3">

                <div class="tab-panee" id="weekendCamping" role="tabpanel" aria-labelledby="weekendCamping-list">
                    <div>
                        <a href="#" class="fw-bolder mb-4 fs-5">週末露營趣</a>
                        <p class="mb-3 fw-bold">｜週末說走就走露營記</p>
                        <p class="mb-3 fw-bold">｜城市野營日記</p>
                        <p class="mb-3 fw-bold">｜和寵物去露營 - 大自然之旅的雙倍愜意</p>
                    </div>
                </div>
                <div class="mt-3">
                    <img class="w-100 object-fit-cover" src="../assets/images/hots-2-sm.png" alt="">
                </div>
                <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                    <div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#戶外</div>
                        <div class="badge bg-primary-300 text-primary-400 me-2">#露營控</div>
                        <div class="badge bg-primary-300 text-primary-400">#凹豆</div>
                    </div>
                    <div class="text-center text-lg-start mt-4">
                        <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>