<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="runningMap" role="tabpanel"
      aria-labelledby="runningMap-list">
      <div>
        <a href="#" class="fw-bolder mb-4 fs-5">酒精路跑地圖</a>
        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
        <p class="mb-3 fw-bold">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</p>
        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
      </div>
    </div>
    <div class="tab-pane fade" id="ramenMap" role="tabpanel" aria-labelledby="ramenMap-list">
      <div>
        <a href="#" class="fw-bolder mb-4 fs-5">台北拉麵圖鑑</a>
        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
        <p class="mb-3 fw-bold">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</p>
        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
      </div>
    </div>
    <div class="tab-pane fade" id="islandTravel" role="tabpanel" aria-labelledby="islandTravel-list">
      <div>
        <a href="#" class="fw-bolder mb-4 fs-5">海島自由行</a>
        <p class="mb-3 fw-bold">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
        <p class="mb-3 fw-bold">｜私島慢活島嶼生活 - 品味熱帶天堂</p>
        <p class="mb-3 fw-bold">｜台南老宅手工酒藏,尋味百年人文釀意</p>
      </div>
    </div>
    <div class="tab-pane fade" id="goAbroad" role="tabpanel" aria-labelledby="goAbroad-list">
      <div>
        <a href="#" class="fw-bolder mb-4 fs-5">短天數出國推薦</a>
        <p class="mb-3 fw-bold">｜72小時東京遊走 - 當個時尚東京通</p>
        <p class="mb-3 fw-bold">｜48小時曼谷遊玩全攻略 </p>
        <p class="mb-3 fw-bold">｜三天兩夜賞櫻微醺東京</p>
      </div>
    </div>
    <div class="tab-pane fade" id="weekendCamping" role="tabpanel" aria-labelledby="weekendCamping-list">
      <div>
        <a href="#" class="fw-bolder mb-4 fs-5">週末露營趣</a>
        <p class="mb-3 fw-bold">｜週末說走就走露營記</p>
        <p class="mb-3 fw-bold">｜城市野營日記</p>
        <p class="mb-3 fw-bold">｜和寵物去露營 - 大自然之旅的雙倍愜意</p>
      </div>
    </div>
  </div>