              <div class="swiper programSuggestSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card text-white mt-5">
                      <div class="tag translate-middle-y">
                        <i class="bi bi-play-fill me-2"></i>人氣行程
                      </div>
                      <img class="rounded-1" src="../assets/images/projects-2.png">
                      <div class="card-img-overlay card-bg-dark">
                        <div class="d-flex justify-content-between">
                          <p class=" text-truncate">親子露營要帶什麼？</p><i class="bi bi-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card text-white mt-5">
                      <div class="tag translate-middle-y">
                        <i class="bi bi-play-fill me-2"></i>編輯推薦
                      </div>
                      <img class="rounded-1" src="../assets/images/projects-5.png">
                      <div class="card-img-overlay card-bg-dark">
                        <div class="d-flex justify-content-between">
                          <p class="text-truncate">質感房間改造攻略！</p><i class="bi bi-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card text-white mt-5">
                      <div class="tag translate-middle-y">
                        <i class="bi bi-play-fill me-2"></i>編輯推薦
                      </div>
                      <img class="rounded-1" src="../assets/images/projects-1.png">
                      <div class="card-img-overlay card-bg-dark">
                        <div class="d-flex justify-content-between">
                          <p class="text-truncate">山女孩的健行筆記</p><i class="bi bi-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card text-white mt-5">
                      <div class="tag translate-middle-y">
                        <i class="bi bi-play-fill me-2"></i>熱門文章
                      </div>
                      <img class="rounded-1" src="../assets/images/projects-3.png">
                      <div class="card-img-overlay card-bg-dark">
                        <div class="d-flex justify-content-between">
                          <p class="text-truncate">適合溜小孩的海邊景點推薦</p><i class="bi bi-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>