<div class="swiper selectedArticlesSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-flex justify-content-center">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-1-sm.png">
            <img class="card-img-top mb-4" src="../assets/images/articles-1.png" alt="">
          </picture>
          <div
            class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bolder">私人島嶼的露營奇遇記</h5>
            <p class="card-text mb-4 text-truncate text-wrap">
              遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
            </p>
            <a href="#" class="fw-bold mb-4">Read More</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide d-flex justify-content-center">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-2-sm.png">
            <img class="card-img-top mb-4" src="../assets/images/articles-2.png" alt="">
          </picture>
          <div
            class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bolder">窺探米其林三星主廚的絕密手藝</h5>
            <p class="card-text mb-4 text-truncate text-wrap">
              在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
            <div class="d-flex justify-content-between mb-4">
              <a href="#" class="fw-bold">Read More</a>
              <p class="badge text-primary-400 bg-primary-300">會員專屬</p>
            </div>
          </div>

        </div>
      </div>
      <div class="swiper-slide d-flex justify-content-center">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-1-sm.png">
            <img class="card-img-top mb-4" src="../assets/images/articles-1.png" alt="">
          </picture>
          <div
            class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bolder">私人島嶼的露營奇遇記</h5>
            <p class="card-text mb-4 text-truncate text-wrap">
              遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
            </p>
            <a href="#" class="fw-bold mb-4">Read More</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide d-flex justify-content-center">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-2-sm.png">
            <img class="card-img-top mb-4" src="../assets/images/articles-2.png" alt="">
          </picture>
          <div
            class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bolder">窺探米其林三星主廚的絕密手藝</h5>
            <p class="card-text mb-4 text-truncate text-wrap">
              在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
            <div class="d-flex justify-content-between mb-4">
              <a href="#" class="fw-bold">Read More</a>
              <p class="badge text-primary-400 bg-primary-300">會員專屬</p>
            </div>
          </div>

        </div>
      </div>
      <div class="swiper-slide d-flex justify-content-center">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-2-sm.png">
            <img class="card-img-top mb-4" src="../assets/images/articles-2.png" alt="">
          </picture>
          <div
            class="card-body border-bottom border-1 border-dark p-0 d-flex flex-column justify-content-between">
            <h5 class="card-title fw-bolder">窺探米其林三星主廚的絕密手藝</h5>
            <p class="card-text mb-4 text-truncate text-wrap">
              在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
            <div class="d-flex justify-content-between mb-4">
              <a href="#" class="fw-bold">Read More</a>
              <p class="badge text-primary-400 bg-primary-300">會員專屬</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>