<div class="d-flex justify-content-between position-relative" style="width: 232px;">
    <button type="button" class="btn btn-outline-secondary slide-button swiper-button-prev"><i class="bi bi-arrow-left start-50 translate-middle"></i></button>
    <div class="slide-button-line position-absolute start-50 translate-middle"></div>
    <button type="button" class="btn btn-outline-secondary slide-button swiper-button-next"><i class="bi bi-arrow-right start-50 translate-middle"></i></button>
</div>