.memory {
    background-color: $primary-200;
    padding: 40px 0;

    @include media-breakpoint-up(lg) {
        padding: 80px 0;
    }

    .month {

        span {
            font-weight: $font-weight-bold;
            font-size: 24px;
        }
    }

    .content {
        position: relative;

        &::before {
            content: '';
            height: 100%;
            width: 1px;
            position: absolute;
            left: -16px;
            background-color: $gray-300;
        }
    }
}

.vision {
    padding: 40px 0;

    @include media-breakpoint-up(lg) {
        padding: 80px 0;
    }
}