/* base */
$font-family-base: "Noto Serif TC", serif;
/* 載入字體 */
$link-decoration: none;
/* 去掉連結底線 */
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
/* 去掉文字下方留白 */

/* custom */
$body-bg: $primary-100;
/* 背景底色 */
$body-color: $dark;
/* 字體顏色 */
$font-weight-base: $font-weight-semibold; // 600
$font-weight-bolder: 900;
$headings-font-weight: $font-weight-bolder;
/* 字體粗細 */
$btn-font-weight: $font-weight-bold; // 700
$btn-border-radius: $border-radius-pill; //50rem
$btn-padding-y: 0.75rem; //12 px
$btn-padding-x: 1.25rem; //20 px
$btn-disabled-opacity: 1; //改不透明，以避免顏色套上去太F淡
/* button */
$input-border-radius: $border-radius-pill; //50rem
$input-bg: $gray-100;
$input-color: $gray-500;
$input-font-weight: $font-weight-semibold; //600
/* input */
$card-border-radius: $border-radius-sm; //4px;
$badge-border-radius: $border-radius-sm; //4px;
$nav-pills-border-radius: $border-radius-sm; //4px;
$nav-pills-link-active-color: $dark;
$nav-pills-link-active-bg: $accent-100;
/* other */